absl-py
ftfy
google-auth
grpcio
horovod
huggingface-hub
importlib-metadata
ipywidgets
markdown
matplotlib
nest-asyncio
nbformat
numpy
opencv-python
pandas
pillow
protobuf
regex
requests-oauthlib
scikit-image
scikit-learn
setuptools
tabulate
tensorboard-data-server
timm
torch
torchvision
tqdm
transformers
werkzeug
